<%- include('partials/header'); %>
    <div class="imgCont">
      <img src="images/main3.JPG"  alt="Nature" class="coverImg1">
      <div class="centered">Balveer Sangathan</div>
    </div>
    <div class="container top-pad1">
      <a href="#"><div class="heading2">
          <i class="far fa-address-card"></i>
          <span>Introduction</span>
      </div></a>
      <div class="contain">
          <p class="content">
            Established in 2012, Balveer Sangathan is an agglomeration 
            of the diverse childcare and protection activities that Sahyog was involved in.
            The activities are largely focused on - </p>
          <div>
            <ul>
              <li>Empowering youth to achieve quality education and essential qualification</li>
              <li>Driving community impact through creation of infrastructure: Schools and Anganwadis</li>
              <li>Reduction of school dropouts and sensitization and support for children who have dropped out</li>
              <li>Development of basic support systems: teachers, educational resources, amenities etc. for all associated children</li>
              <li>Awareness creation against child labour, and on-ground implementation of associated laws</li>
              <li>Driving implementation of the RTE Act, Particularly Section 12 to ensure subsidized quality education for children</li>
              <li>100% child vaccination in all areas under operation</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="container">
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images\PB110077.JPG">
          <img src="images\PB110077.JPG" alt="Cinque Terre" width="600" height="400">
        </a>
        
      </div>
    </div>
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images\23032011654.jpg">
          <img src="images\23032011654.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
       
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images\23032011664.jpg">
          <img src="images\23032011664.jpg" alt="Forest" width="600" height="400">
        </a>
       
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images\PB110100.JPG">
          <img src="images\PB110100.JPG" alt="Northern Lights" width="600" height="400">
        </a>
        
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images\PB110060.JPG">
          <img src="images\PB110060.JPG" alt="Mountains" width="600" height="400">
        </a>
        
      </div>
    </div>
    
    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images\PB110097.JPG">
            <img src="images\PB110097.JPG" alt="Mountains" width="600" height="400">
          </a>
         
        </div>
      </div>
    
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images\PB110103.JPG">
            <img src="images\PB110103.JPG" alt="Mountains" width="600" height="400">
          </a>
        
        </div>
      </div>
    
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images\2012-07-17 13.19.04.jpg">
            <img src="images\2012-07-17 13.19.04.jpg" alt="Mountains" width="600" height="400">
          </a>
        
        </div>
      </div>
    </div>
<%- include('partials/footer'); %>