<%- include('partials/header'); %>
    <div class="imgCont">
      <img src="images/about1.JPG"  alt="Nature" class="coverImg1">
      <div class="centered1">Navjeevan Mahila Mandal</div>
    </div>
    <div class="container top-pad1">
      <a href="#"><div class="heading2">
          <i class="far fa-address-card"></i>
          <span>Introduction</span>
      </div></a>
      <div class="contain">
          <p class="content">
            Initiated in 2008, under the leadership of 29 community leaders, 
            Navjeevan Mahila Mandal focusses on driving care and ensuring empowerment for women and mothers.
            The activities are largely focused on - 
          </p>
          <div>
            <ul>
              <li>Creation of Self-help groups, to drive collective empowerment</li>
              <li>Ensure adequate community support through sensitization of ASHAs, ANMs and Nurses</li>
              <li>Awareness of government-level documents for public welfare, importance of RTI and uses</li>
              <li>Awareness of Women’s Rights and Sensitization on protection against domestic abuse</li>
              <li>Vaccination and adequate medical aid for pregnant women</li>
              <li>Ensure Joint responsibility for the upbringing of the child through constant interaction with both the parent stakeholders</li>
              <li>Provision of adequate support for women and infants during maternity including provision  medicine, nutrition and other resources</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="container">
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images/navjeevanMahilaMandal.JPG">
          <img src="images/navjeevanMahilaMandal.JPG" alt="Cinque Terre" width="600" height="400">
        </a>
        
      </div>
    </div>
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images/018.jpg">
          <img src="images/018.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
       
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images/about1.JPG">
          <img src="images/about1.JPG" alt="Forest" width="600" height="400">
        </a>
       
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images/about3.JPG">
          <img src="images/about3.JPG" alt="Northern Lights" width="600" height="400">
        </a>
        
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="images\PB110060.JPG">
          <img src="images\PB110060.JPG" alt="Mountains" width="600" height="400">
        </a>
        
      </div>
    </div>
    
    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images\PB110097.JPG">
            <img src="images\PB110097.JPG" alt="Mountains" width="600" height="400">
          </a>
         
        </div>
      </div>
    
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images\PB110103.JPG">
            <img src="images\PB110103.JPG" alt="Mountains" width="600" height="400">
          </a>
        
        </div>
      </div>
    
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images\2012-07-17 13.19.04.jpg">
            <img src="images\2012-07-17 13.19.04.jpg" alt="Mountains" width="600" height="400">
          </a>
        
        </div>
      </div>
    </div>
    <%- include('partials/footer'); %>