<%- include('partials/header'); %>
<div class="row topmar">
    <h1 style="text-align: center">Add New Program</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/programs" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="Program Title" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="main_image" placeholder="Image on Program Page" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="Description on Program Page" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="background_image" placeholder="Image on Individual Page" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="details" placeholder="Details" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="img1" placeholder="Image 1" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="img2" placeholder="Image 2" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="img3" placeholder="Image 3" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="img4" placeholder="Image 4" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a href="/programs">Go Back</a>
    </div>
</div>
<%- include('partials/footer'); %>