<%- include('partials/header'); %>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/programs.jpg" alt="balveer">
        </div>
    
        <div class="item">
          <img src="images/programs2.JPG" alt="navjeevan">
        </div>
    
        <div class="item">
          <img src="images/programs3.JPG" alt="children">
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
    <section id="projects" class="projCont">
      <div class="container1 top-pad1">
       <div class="heading3">
          <i class="far fa-address-card"></i>
          <span>INTRODUCTION</span>
        </div>
          <div class="contain">
            <p class="content">
                The programs of Sahyog involve intensive constant support 
                of the selected households to ensure that they have access to the basic necessities to 
                sustain livelihood which includes food, healthcare and free quality education. We focus 
                on implementing a community monitoring system to support and track the proper 
                functioning of  government educational institutions
            </p>
            <p class="content">
              We at Sahyog provides regular supply of ration kits and aiding healthcare for over 800 households 
              and look at implementation of quality healthcare through CHCs and PHCs
              We actively collaborate with the government and other organizations to drive change and impact 
              in education, healthcare and community development.
              With constant demand and with the use of RTI 20 new Anganwadis have started and about 800 for children 
              between 3 to 5 years, in addition pregnant mothers and adolescents also get benefits.
              For example, child supplementary nutrition, pre-primary education, special treatment for malnourished 
              children, health check-up for adolescents, supplementary nutrition, health check-up for pregnant mothers, vaccination, supplementary nutrition, etc.
            </p>
          </div>
        <hr color="#000000">
        <div class="all-items">
          <div class="item">
            <div class="left">
              <div class="img">
                <img src="images\PB110080.JPG" alt="" class="pimg">
              </div>
            </div>
            <div class="right">
              <h2 class="project-title">BALVEER SANGATHAN</h2>
              <h3 class="project-sub-title"><b>Educating children values of diversity, inclusivity through enacting situations.</b></h3>
              <p class="project-desc">Established in 2012, Balveer Sangathan is an agglomeration of the diverse childcare and protection activities that Sahyog was involved in.
              </p>
              <div class="buttons">
                <a href="balveer" class="primary-btn">Know More</a>
                
              </div>
  
            </div>
          </div>
          <div class="item">
            <div class="left">
              <div class="img">
                <img src="images\DSCF6721.JPG" alt="" class="pimg">
              </div>
            </div>
            <div class="right">
              <h2 class="project-title">NAVJEEVAN MAHILA MANDAL
              </h2>
              <h3 class="project-sub-title"><b>Mobilize and Empower women</b>
              </h3>
              <p class="project-desc">Initiated in 2008, under the leadership of 29 community leaders, Navjeevan Mahila Mandal focusses on driving care and
                  ensuring empowerment for women and mothers.
              </p>
              <div class="buttons">
                <a href="navjeevan" class="primary-btn">Know More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="left">
              <div class="img">
                <img src="images\1588341649033.jpg" alt="" class="pimg">
              </div>
            </div>
            <div class="right">
              <h2 class="project-title">COVID-19 RESPONSE</h2>
              <h3 class="project-sub-title"><b>A website for music studio</b></h3>
              <p class="project-desc">Piranz is one of the famous music composer in UAE. The challenge was to keep the
                music environment in the web. It was
                hard but in the end
                we provided a good quality website that satisfied the client.</p>
              <div class="buttons">
                <a href="#" class="primary-btn">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer'); %>